	<mat-toolbar color="primary">
		<button mat-button routerLink="/">{{title}}</button>
		<div fxLayout="row" fxShow="false" fxShow.gt-sm>
			<button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
			<button mat-menu-item [matMenuTriggerFor]="addresses">Addresses Manager</button>
			<mat-menu #addresses="matMenu">
				<button mat-menu-item routerLink="/address"> Addresses</button>
				<button mat-menu-item routerLink="/address/-1">Add Address</button>
			</mat-menu>
		</div>
		<button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm><mat-icon>menu</mat-icon></button>
		<mat-menu x-position="before" #menu="matMenu">
			<button mat-menu-item routerLink="/"><mat-icon>home</mat-icon> Home</button>
				<button mat-menu-item [matMenuTriggerFor]="addressesMenu" >Addresses Manager</button>
				<mat-menu #addressesMenu="matMenu">
					<button mat-menu-item routerLink="/address"> Addresses</button>
					<button mat-menu-item routerLink="/address/-1">Add Address</button>
				</mat-menu>
		</mat-menu>
	</mat-toolbar>
