<h2>Selected Address</h2>
<label>Name
  <input type="text" readonly=true [(ngModel)]="address.name">
</label>
<label>SKU
  <input type="text" readonly=true [(ngModel)]="address.address">
</label>
<label>Description
  <input type="text" readonly=true [(ngModel)]="address.email">
</label>

<span *ngIf="status=='showing'">
<button mat-flat-button color="primary" (click)="edit()">Edit</button>
<button mat-flat-button color="primary" routerLink="/address" >Cancel</button>
	
</span>
<span *ngIf="status=='editing'">
<button mat-flat-button color="primary" (click)="cancelEdit()" >Cancel</button>
	
</span>
