<mat-table [dataSource]="dataSource" class="mat-elevation-z1" >
	<ng-container matColumnDef="id">
		<mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
	</ng-container>
	
	<ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
	</ng-container>
	
	<ng-container matColumnDef="address">
		<mat-header-cell *matHeaderCellDef> Address</mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
	</ng-container>
	
	<ng-container matColumnDef="email">
		<mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.email}} </mat-cell> 
	</ng-container>
	 
	<ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button routerLink="/address/{{element.id}}">
          <mat-icon>details</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
	
    
	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator  #paginator
                [length]="length"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = getAddresses($event)">
</mat-paginator>